:root, [data-bs-theme=light] {
  --bs-primary: #00b779;
  --bs-primary-rgb: 0,183,121;
  --bs-primary-text-emphasis: #004930;
  --bs-primary-bg-subtle: #CCF1E4;
  --bs-primary-border-subtle: #99E2C9;
  --bs-light: #e6e6ee;
  --bs-light-rgb: 230,230,238;
  --bs-light-text-emphasis: #5C5C5F;
  --bs-light-bg-subtle: #FAFAFC;
  --bs-light-border-subtle: #F5F5F8;
  --bs-body-bg: #e6e6ee;
  --bs-body-bg-rgb: 230,230,238;
  --bs-body-font-size: 1.8rem;
  --bs-border-style: solid;
  --bs-focus-ring-opacity: 0.5;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #00b779;
  --bs-btn-border-color: #00b779;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #26C28D;
  --bs-btn-hover-border-color: #19BE86;
  --bs-btn-focus-shadow-rgb: 0,27,18;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #33C594;
  --bs-btn-active-border-color: #19BE86;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #00b779;
  --bs-btn-disabled-border-color: #00b779;
}

.btn-outline-primary {
  --bs-btn-color: #00b779;
  --bs-btn-border-color: #00b779;
  --bs-btn-focus-shadow-rgb: 0,183,121;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #00b779;
  --bs-btn-hover-border-color: #00b779;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #00b779;
  --bs-btn-active-border-color: #00b779;
  --bs-btn-disabled-color: #00b779;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00b779;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e6e6ee;
  --bs-btn-border-color: #e6e6ee;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C4C4CA;
  --bs-btn-hover-border-color: #B8B8BE;
  --bs-btn-focus-shadow-rgb: 35,35,36;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B8B8BE;
  --bs-btn-active-border-color: #ADADB3;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e6e6ee;
  --bs-btn-disabled-border-color: #e6e6ee;
}

.btn-outline-light {
  --bs-btn-color: #e6e6ee;
  --bs-btn-border-color: #e6e6ee;
  --bs-btn-focus-shadow-rgb: 230,230,238;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e6e6ee;
  --bs-btn-hover-border-color: #e6e6ee;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e6e6ee;
  --bs-btn-active-border-color: #e6e6ee;
  --bs-btn-disabled-color: #e6e6ee;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e6e6ee;
}

